/* Mobile Styles */

.tweet-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.blue-text {
  color: blue;
}

.green-text {
  color: green;
}

.tweet-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar-container {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  border-radius: 100%;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
}

.tweet-input {
  resize: none;
  width: 90%;
  height: 100px;
  padding: 10px;
  font-size: 18px;
  line-height: 1.5;
  border: none;
  outline: none;
  box-shadow: none;
  overflow: auto;
}

.tweet-input::placeholder {
  color: #9a9a9a;
}

.form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.tweet-button {
  background-color: #1da1f2;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.tweet-button:hover {
  background-color: #0c86c6;
}

.character-count {
  color: #9a9a9a;
}

@media only screen and (max-width: 750px) {
  .tweet-form {
    padding: 5px;
  }

  .avatar-container {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }

  .tweet-input {
    height: 80px;
    font-size: 16px;
  }

  .tweet-button {
    font-size: 16px;
    padding: 8px 16px;
  }
}
