.user-card {
  display: flex;
  gap: 15px;
  padding: 5px;
  align-items: center;
  img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
  }
  .user-card-text {
    display: flex;
    gap: 10px;

    .first_name {
      font-weight: 600;
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }
    color: grey;
  }
}
